* {
    margin: 0;
    padding: 0;
}

div {
    position: fixed;
    left: 200px;
    background-color: grey;
    height: 200px;
    width: 200px;
}

.object {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    left:0px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(5,5);
    transform: rotate(45deg);
}

button {

    /* transform:scale(2,2); */
}